body {
    font-family: "roboto";
    margin: 0;
    padding: 0;
    background-color: #5dafcb;
    justify-content: center;
    
}

.container {
    max-width: 600px;
    margin: 50px auto; /* Auto margin for center alignment */
    background-color: #fdfafa;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    

}

.thikhai{
    font-weight: 600;
    align-items: center;
    text-align: center;
}

h1 {
    color: rgb(132, 30, 30);
    font-family: serif;
    font-size: 36px;
}

.converter {
    margin-top: 20px;
  
}


label, input, select, button {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.result {
    color: #202020;
    margin-top: 20px;
    font-weight: bold;
    font-family: "roboto";
    font-size: 30px;
    margin-top: 20px;
}
